.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{:href => "/"} RejaMotion
      .nav-collapse.collapse
        %ul.nav
          %li
            %a{:href => "http://takiguchi0817.github.com/"} blog
          %li
            %a{:href => "http://rejasupotaro.com"} music
          %li
            %a{:href => "/"} about me
