<div class="content">
  <div class="container">
    <ul class="thumbnails">
      <% @image_list.each do |image| %>
        <li class="span4">
        <div class="thumbnail">
          <div class="centering">
            <%= link_to image_tag(image.url), :controller => 'images', :action => 'show', :id => image.id %>
          </div>
          <div class="caption">
            <h3><%= image.title %></h3>
            <p><%= @image_text %></p>
          </div>
        </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
