<div class="content">
  <div class="container">
    <div class="span8 offset2 thumbnail">
      <img src="<%= @image.url %>" class="show">
      <div class="caption">
        <h3><%= @image.title %></h3>
        <p><%= @image_text %></p>
      </div>
    </div>
  </div>
</div>
