.navbar-fixed-top {
  margin-bottom: 0px;
}

.content {
  padding: 40px 0;
}

.center_horizontal {
  text-align: center;
}

.row-fluid .span4 {
  margin-bottom: 20px;
}

.image_title {
  font-size: 12px;
  line-height: 20px;
  text-align: right;
}

.margin_top {
  margin-top: 20px;
}

img.show {
  zoom: 1.5;
}

hr {
  margin: 10px;
}

p {
  margin: 0px;
}
