.navbar-fixed-top {
  margin-bottom: 0px;
}

.content {
  padding: 40px 0;
}

.center_horizontal {
  text-align: center;
}

.row-fluid .span4 {
  margin-bottom: 20px;
}

.margin_top {
  margin-top: 20px;
}

img.show {
  zoom: 1.5;
}
