<!DOCTYPE html>
<html>
<head>
  <title>RejaMotion</title>
  <meta name="description" content="日常のワンシーンをGIFアニメにする">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">RejaMotion</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="">
          <a href="http://takiguchi0817.github.com/">blog</a>
          </li>
          <li class="">
          <a href="http://rejasupotaro.com">music</a>
          </li>
          <li class="">
          <a href="/">about me</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
